body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

   #profile {
    color:blueviolet
}

.bio {
    font-style: italic;
    color: darkgrey;
}

.btn-primary {
    background-color: black;
    color: white;
    padding: 5 px 10 px;
    border: none;
    cursor: pointer;
}